[package]
name = "my-node-application"
version = "1.0.0"
description = "Node.js application on Wasmer"
license = "MIT"

[dependencies]
"wasmer/winterjs" = "^1"

[[module]]
name = "my-node-application"
source = "."
abi = "none"

[[command]]
name = "script"
module = "wasmer/winterjs:winterjs"
runner = "wasi"

[command.annotations.wasi]
main-args = ["/src/index.js"]
env = [
    "NODE_ENV=production",
    "PORT=8080",
    "API_KEY=${{ secrets.API_KEY }}"
]

[fs]
"/src" = "."
"/public" = "./public"

[[command.annotations.wasi.mounts]]
from = "."
to = "/src"

[[command.annotations.wasi.mounts]]
from = "./public"
to = "/public"
