[package]
name = "my-static-website"
version = "0.1.0"
description = "My awesome static website"
license = "MIT"
readme = "README.md"

[dependencies]
"wasmer/static-web-server" = "^1"

[[module]]
name = "my-static-website"
source = "."
abi = "none"

[module.interfaces]
wasi = "0.1.0"

[[command]]
name = "script"
module = "wasmer/static-web-server:webserver"
runner = "wasi"

[command.annotations.wasi]
main-args = ["-w", ".", "-p", "8080"]
env = []

[fs]
"/public" = "."
