[package]
name = "my-first-wasmer-app"
version = "0.1.0"
description = "My first Wasmer deployment"

[dependencies]
"wasmer/static-web-server" = "1"

[[module]]
name = "my-first-wasmer-app"
source = "."
abi = "none"

[[command]]
name = "script"
module = "wasmer/static-web-server:webserver"
runner = "wasi"

[command.annotations.wasi]
main-args = ["-w", "."]
